 <!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Ben Kimim?</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Merhaba! Ben Habibe. Kırıkkale Üniversitesi Bilgisayar Mühendisliği ikinci sınıf öğrencisiyim. Havacılığa, özellikle de askeri havacılığa çocukluğumdan beri ilgi duyuyorum.</p>
            <p>Kodluyoruz Back-End Web Geliştirme 101 Bootcampi neticesinde bitirme projem olarak bu bloğu yaptım. Eğer sizin de jet sesi duyunca yerinden çıkacak gibi atan bir kalbiniz varsa bu blogda kendinizden bir şeyler bulacaksınız.</p>
            
        </div>
    </div>
</div>

<hr>